*{
    margin: 0px;
    padding: 0px;

}
h1{ color: brown; background-color: rgb(74, 150, 185);
;}
.menu{
background-color: blueviolet;
display: flex;
border: 10px;
margin: 10px 5px 10px 5px;
align-items: flex-start;
content: normal;
}
#home{
    color: rgb(219, 48, 82);
}